@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #000;
}

/* .swiper {
  height: 600px;
} */

/* @keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.section {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
} */